---
category_array:
  - Education
  - Co-op Jobs
  - Academic Projects
  - Personal Projects
---

<!DOCTYPE html>

<html class="full-height">
	<!-- can include the head stuff here to define meta stuff about the page-->
	{% include head.html %}
	
	<body style="margin: 0" class="full-height">
		<!-- can include any header stuff here -->
		<main>
			<div class="home-feature"></div>
			<div class="content-container">
				<div class="person-info-container">					
					<div class="person-image"></div>
					<div style="width: 100%">
						<p class="person-name">{{ page.person }}</p>
						<p class="person-extra">{{ page.title }}</p>
						<p class="person-extra"><b>E-mail</b>: {{ page.email }}</p>
					</div>					
				</div>	

				<div class="home-content">				
					{% for category in layout.category_array %}
					<p class="category-text">{{ category }}</p>
					<hr class="category-line">
					<div class="category-content-container">
						{% for post in site.categories[category] %}
	    				<a href="{{ post.url | absolute_url }}" class="category-content" style="background-color: {{ post.home_color }}; border-color: {{ post.home_color_dark }}">
    						<p style="vertical-align: middle; display: inline; width: 100%; margin-bottom: 0.5em; color: #fff; height: 100%">{{ post.title }}</p>
    						{% if post.company %}
    							<p style="font-size: 0.75em; margin-bottom: 0; color: #fff; opacity: 0.85;">{{ post.company }}</p>
    						{% endif %}
    						<p style="font-size: 0.75em; margin-top: 0.2em; color: #fff; opacity: 0.85;">From {{ post.start_date }} to {{ post.end_date }} {% if post.duration %}({{ post.duration }}){% endif %}</p>
	    				</a>
						{% endfor %}
					</div>
					{% endfor %}

					<p class="category-text">Skills</p>
					<hr class="category-line">
					{% for skill_type in page.skills_list %}
						<p class="skill-type">{{ skill_type.type }}</p>
						<div>
						{% for skill in skill_type.skills %}
							<p class="skill-text" style="background-color: {{ skill_type.color }}">{{skill}}</p>
						{% endfor %}
						</div>
					{% endfor %}				
				</div>			
			</div>			
		</main>		
	</body>
</html>